html, body {
  background: #202427;
  font-family: Arial, Helvetica, sans-serif;
}

p, span, h1, h2 {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.viewport-frame {
  padding-top: 56px;
  height: 100vh;
  overflow: auto;
  background: #202427;
  color: #D8DCDF;
}

.viewTitle {
  margin-top: 2rem;
}

input[type='color'] {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
}

input[type='color']:active {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.form-control:disabled {
  background: #CCCCCC;
  color: #999999;
}

.view {
  width: 100%;
  height: 100%;
}

#viewTallyError {
  width: 100%;
  height: 100%;
}

#viewTallyError .errMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#viewTallyRenderer.viewSingleTally {
  height: 100%;
  width: 100%;
}

#viewTallyRenderer.viewMultiTally {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (minmax(10rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 1fr;
  padding: 16px;
}

#viewTallyRenderer.viewMultiTally::before {
  content: '';
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  padding-bottom: 100%;
  width: 0;
}

#viewTallyRenderer.viewMultiTally > *:first-child {
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
}

#btn-group-voice button {
  margin-left: 1em;
}

.tally {
  position: relative;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
}

.tally[data-tally-state='preview'], .tally[data-tally-state='program'] {
  -webkit-box-shadow: inset 0 0 40px 15px rgba(20, 20, 20, 0.3);
          box-shadow: inset 0 0 40px 15px rgba(20, 20, 20, 0.3);
}

.tally.tally-single {
  height: 100%;
  width: 100%;
}

.tally.tally-multi {
  border-radius: 5px;
}

.tally .tallyCameraLabel {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 0.3em 0.5em;
}

.tally .tallyCameraId {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-shadow: 0px 3px 3px rgba(20, 20, 20, 0.3);
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.tally .tallyCameraLabel {
  bottom: 5%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
