html, body {
  background: #202427;
  font-family: Arial, Helvetica, sans-serif;
}

p, span, h1, h2 {
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root .navbar {
  --bs-navbar-padding-x: 1rem;
  --bs-navbar-padding-y: 0.5rem;
}
:root .toast {
  --bs-toast-color: #333333;
}
:root .modal-content {
  --bs-modal-color: #D8DCDF;
  --bs-modal-bg: #343a40;
  --bs-modal-header-border-color: #4d545a;
  --bs-modal-footer-border-color: #4d545a;
}
:root .list-group {
  --bs-list-group-bg: #343a40;
  --bs-list-group-color: #D8DCDF;
}

.navbar {
  background: #343a40;
}

.viewport-frame {
  padding-top: 56px;
  height: 100vh;
  overflow: auto;
  background: #202427;
  color: #D8DCDF;
}

.viewTitle {
  margin-top: 2rem;
}

input[type=color] {
  padding: 0;
  background: rgba(0, 0, 0, 0);
  border: none;
}
input[type=color]:active {
  background: rgba(0, 0, 0, 0);
  border: none;
}

.form-control:disabled {
  background: #CCCCCC;
  color: #999999;
}

.view {
  width: 100%;
  height: 100%;
}

#viewTallyError {
  width: 100%;
  height: 100%;
}
#viewTallyError .errMsg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

#viewTallyRenderer.viewSingleTally {
  height: 100%;
  width: 100%;
}
#viewTallyRenderer.viewMultiTally {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 1fr;
  padding: 16px;
}
#viewTallyRenderer.viewMultiTally::before {
  content: "";
  grid-column: 1/1;
  grid-row: 1/1;
  padding-bottom: 100%;
  width: 0;
}
#viewTallyRenderer.viewMultiTally > *:first-child {
  grid-column: 1/1;
  grid-row: 1/1;
}

#btn-group-voice button {
  margin-left: 1em;
}

.tally {
  position: relative;
  transition: box-shadow 0.5s ease-out;
}
.tally[data-tally-state=preview], .tally[data-tally-state=program] {
  box-shadow: inset 0 0 40px 15px rgba(20, 20, 20, 0.3);
}
.tally.tally-single {
  height: 100%;
  width: 100%;
}
.tally.tally-multi {
  border-radius: 5px;
}
.tally .tallyCameraLabel {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  text-align: center;
  display: block;
  font-weight: bold;
  padding: 0.3em 0.5em;
}
.tally .tallyCameraId {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  text-align: center;
  text-shadow: 0px 3px 3px rgba(20, 20, 20, 0.3);
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
}
.tally .tallyCameraId.small {
  font-size: 36px;
}
.tally .tallyCameraLabel {
  bottom: 5%;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

#deviceList {
  margin: 1rem 0;
}

.update-banner {
  position: fixed;
  bottom: 1em;
  left: 1em;
}
.update-banner a {
  display: block;
}

.mobileSettings {
  background: #000;
  color: #D8DCDF;
  height: 70vh;
  left: 5vw;
  position: fixed;
  width: 90vw;
  top: 10vh;
}

.mobileSettingsView {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 1em;
  z-index: 1;
  transform: translateZ(1px);
}

.mobileSettingsViewBg {
  background: rgba(0, 0, 0, 0.4);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 0;
}